.wcfm-dashboard-page .content-wrapper {
    max-width: none !important;
    width: 100% !important;
    padding: 0 !important;
}

#wcfm-main-content {
    max-width: none;
    padding: 0;
}

.wcfm-collapse .wcfm-container,
.wcfm-tabWrap,
.wcfm-collapse-content {
    color: grey;
}

.wcfm-collapse .wcfm-container strong,
.wcfm-tabWrap strong,
.wcfm-collapse-content  strong{
    color:black;
}